<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>day</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">2</th>
      <th colspan="2" halign="left">3</th>
      <th colspan="2" halign="left">4</th>
      <th colspan="2" halign="left">5</th>
      <th colspan="2" halign="left">6</th>
      <th colspan="2" halign="left">7</th>
      <th colspan="2" halign="left">8</th>
      <th colspan="2" halign="left">9</th>
      <th colspan="2" halign="left">10</th>
      <th colspan="2" halign="left">11</th>
      <th colspan="2" halign="left">12</th>
      <th colspan="2" halign="left">13</th>
      <th colspan="2" halign="left">14</th>
    </tr>
    <tr>
      <th>shift</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
      <th>am</th>
      <th>pm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
    </tr>
    <tr>
      <th>B</th>
      <td>Line 1</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>C</th>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
    </tr>
    <tr>
      <th>D</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>E</th>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>F</th>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>G</th>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
      <td></td>
      <td>Line 2</td>
      <td></td>
    </tr>
    <tr>
      <th>H</th>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
    </tr>
    <tr>
      <th>I</th>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>J</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 1</td>
    </tr>
    <tr>
      <th>K</th>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td></td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
      <td>Line 3</td>
      <td></td>
    </tr>
  </tbody>
</table>